@charset "utf-8"; 

@font-face {
	font-family:'NotoSans_Regular';
	font-style:normal;
	font-weight:normal;
	src:	url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Regular.eot');
	src:	url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
			local('Noto Sans KR'), 
			url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
	font-family:'NotoSans_Bold';
	font-style:normal;
	font-weight:normal;
	src:	url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Bold.eot');
	src:	url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
			local('Noto Sans KR'), 
			url('https://www.kebhana.com/resource/simple/fonts/NotoSansKR-Bold.woff') format('woff');
;} 