@charset "utf-8";
#skip{}
#skip a{display:block;width:100%;height:0;color:#fff}
#skip a:focus{background-color:#000;text-align:center;padding:10px 0;height: 10px;line-height: 10px;}
/*header*/
header{border-bottom: 1px solid #008485;}
header .inner{width:1150px;margin: 0 auto;}
header .inner .top_menu .top_menu_cont{display:flex;justify-content:space-between;}
header .inner .top_menu .top_menu_cont ul{display:flex;justify-content:start;margin-top: 5px;}
header .inner .top_menu .top_menu_cont ul li a{display:block;padding:0 12px 0 0;line-height:28px;color:#555a9c;font-size: 11px;font-weight: bold;}
header .inner .top_menu .top_menu_cont .lang_btn button{line-height: 28px;display: block;margin-left:26px}
header .inner nav{display:flex;justify-content:space-between;align-items:center;}
header .inner nav .main_menu ul{display:flex;justify-content:space-between;}
header .inner nav .main_menu ul li a{display:block;padding:0 40px;line-height:70px;font-size: 18px;font-weight: bold;} 
header .inner nav .right_menu{display:flex;}
header .inner nav .right_menu li{margin:0 13px 0 0}

/*메인 배너 영역*/
.main_visual .inner{width:1150px;margin:0 auto;position: relative;}
.main_visual .inner::after{display:block;content:"";clear:both}
.main_visual .inner .main_slide_cont{position: relative;height:443px;width:760px;float:left}
.main_visual .inner .main_slide_cont .txt_wrap{position:absolute;left:0;top:80px;z-index:2;}
.main_visual .inner .main_slide_cont .img_wrap{position:absolute;right:0;top:0;z-index:1;}
.main_visual .inner .main_slide_cont .label_icon{display:block;width:70px;border:1px solid #ddd;text-align:center;color:#333;line-height:28px}
.main_visual .inner .main_slide_cont .main_visual_title{margin-top: 20px;letter-spacing:-3px;font-size: 37px;line-height:42px;font-weight: bold;font-family: 'NotoSans_Bold' !important;color:#000}
.main_visual .inner .main_slide_cont .main_visual_sub{display:inline-block;margin-top:20px;color:#666;margin-top: 13px;font-size: 16px;line-height: 23px;letter-spacing:-1px;}
.main_visual .inner .main_slide_cont .btn_more{margin-top:43px;}
.main_visual .inner .main_slide_cont .btn_more a{display:inline-block;line-height:40px;padding:0 20px;border-radius:30px;color:#fff;background:#333;}
.main_visual .inner .main_visual_rightMenu{float:right;padding:48px 0 0 46px}
.main_visual .inner .main_visual_rightMenu .bank_link{display:flex;}
.main_visual .inner .main_visual_rightMenu .bank_link a{display:block;height: 120px;width: 158px;border-radius:10px;padding:20px;font-weight: bold;align-content:end;font-size: 20px;color:#fff;box-sizing: border-box;}
.main_visual .inner .main_visual_rightMenu .bank_link a + a{margin-left:15px}
.main_visual .inner .main_visual_rightMenu .bank_link .quick-button01{background-color:#099a96;}
.main_visual .inner .main_visual_rightMenu .bank_link .quick-button02{background-color:#3a4058;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul{display:flex;justify-content:space-between;flex-wrap:wrap;margin-top: 20px;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li{width:30%;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li a{text-align:center;display:block;padding:22px 0;font-weight: bold;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li a i{display:block;width: 43px;height: 43px;margin: 0 auto;margin-bottom: 10px;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button01 i{background:url('../common/images/icon_quick01.png')no-repeat center;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button02 i{background:url('../common/images/icon_quick02.png')no-repeat center;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button03 i{background:url('../common/images/icon_quick03.png')no-repeat center;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button04 i{background:url('../common/images/icon_quick04.png')no-repeat center;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button05 i{background:url('../common/images/icon_quick05.png')no-repeat center;}
.main_visual .inner .main_visual_rightMenu .bank_icon ul li .icon_button06 i{background:url('../common/images/icon_quick06.png')no-repeat center;}
.mid_cont{background:#ecf0f1;}
.mid_cont .inner{margin:0 auto;width:1150px;}
.mid_cont .inner .mid_cont_link{display:flex;width: 100%;}
.mid_cont .inner .mid_cont_link li{width: 20%;}
.mid_cont .inner .mid_cont_link li a{position:relative;display:block;padding:54px 0;text-align:center;}
.mid_cont .inner .mid_cont_link li + li a:before{position:absolute;display:block;content:"";width:1px;background:#333;height:calc(100% - 108px);top:54px;left:0}
.mid_cont .inner .mid_cont_link li a .mid_title{display:block;font-weight: bold;}
.mid_cont .inner .mid_cont_link li a .mid_txt{display:block;color:#555a9c;margin-top:5px;}

.notice_cont{padding:50px 0 10px}
.notice_cont .inner{width:1150px;margin:0 auto;display:flex;justify-content:space-between;}
.notice_cont .inner .notice_wrap{width:740px;}
.notice_cont .inner .notice_wrap h3{margin-bottom: 20px;font-weight: bold;color:#333}
.notice_cont .inner .notice_wrap ul li{padding-bottom:10px;}
.notice_cont .inner .notice_wrap ul li a{display:flex;justify-content:space-between;}
.notice_cont .inner .notice_btn_list{display:flex;margin-left:60px;flex-wrap: wrap;width:390px;border-radius:10px;overflow:hidden;border:1px solid #ddd}
.notice_cont .inner .notice_btn_list li{display:flex;border-left:1px solid #ddd;width:50%;box-sizing:border-box;border-top:1px solid #ddd;}
.notice_cont .inner .notice_btn_list li:first-child, .notice_cont .inner .notice_btn_list li:nth-child(1){border:0}
.notice_cont .inner .notice_btn_list li a{display:block;align-content:center; text-align:center;width:100%;font-size: 13px;line-height: 20px;padding:4px;height:50px;text-align:center; box-sizing:border-box;}

.site_wrap .inner{width:1150px;margin:0 auto}
.site_wrap .inner .site_list{display:flex;justify-content:space-between;padding:50px 0;width:100%;}
.site_wrap .inner .site_list li a{display:block;width:70px;height:70px;border-radius:10px;}
.site_wrap .inner .site_list li .hana_ico1{background:url('../common/images/hana_app01.png')no-repeat center;}
.site_wrap .inner .site_list li .hana_ico2{background:url('../common/images/hana_app02.png')no-repeat center;}
.site_wrap .inner .site_list li .hana_ico3{background:url('../common/images/hana_app03.png')no-repeat center;}
.site_wrap .inner .site_list li .hana_ico4{background:url('../common/images/hana_app04.png')no-repeat center;}
.site_wrap .inner .site_list li .hana_ico5{background:url('../common/images/hana_app05.png')no-repeat center;}
.site_wrap .inner .site_list li .hana_ico6{background:url('../common/images/hana_app06.png')no-repeat center;}

footer{padding-top:37px;border-top:1px solid #ddd;}
footer .inner{width:1150px;margin:0 auto;display:flex;justify-content:space-between;}
footer .inner .footer_line > li{padding-bottom:10px}
footer .inner .footer_line .footer_list {display:flex;}
footer .inner .footer_line .footer_list li a{position: relative; display:block;margin-right:10px;font-weight: bold;color:#333}
footer .inner .footer_line .footer_list li a::after{position: absolute;right:-5px;display:block;content:"";width:2px;height:2px;top:calc(50% - 1px);background-color:#ddd;}
footer .inner .mark_section{margin-top:20px;}
footer .inner .mark_section .mark_list{display:flex;justify-content:start;}
footer .inner .mark_section .mark_list li .copyright{display:block; margin:20px 0 0 20px}
footer .inner .footer_right{text-align: right;}
footer .inner .footer_right .footer_selection ul li + li{margin-top:12px;}
footer .inner .footer_right .footer_selection ul li .cs_title{color:#009591}
footer .inner .footer_right .footer_selection ul li strong{font-size:24px;font-weight: bold;}
footer .inner .footer_right .footer_selection ul li .slash{color:#ddd}
footer .inner .footer_right .hanaworld{padding:0 20px;background:#eee;line-height: 50px;border-radius:10px;}
footer .inner .footer_right .hanaworld img{vertical-align:middle;}