:root {
    /* Color */
    --white-color:#fff;
    --black-color:#333;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --grey-light-color:#909090;
    --grey-dark-color:#e0e0e0;

    /* Size */
    --side-padding:12px;
    --avatar-size:36px;

    /*font-size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
}


body{
    font-family:Roboto;
}

button{background:none;border:none;}

header{
    padding:var(--side-padding);
    display:flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
}

header .logo i{color:var(--red-color);font-size:var(--font-large);}
header .logo .title{font-size:var(--font-large);color:var(--white-color)}
header .icons{color:var(--white-color)}
.section_wrap{display:flex;}

@media screen and (max-width:800px) {
    .section_wrap{flex-direction:column;}
}
.player{position:sticky;top:0;text-align: center;background-color: black;z-index:100;}
.player video{width:100%;max-width:1000px}

.info .metadata{padding:var(--side-padding);}
.info .metadata .hashTag{display:flex;}
.info .metadata .hashTag li{color:var(--blue-color);font-size: 15px;padding:5px 10px} 
.info .metadata .titleAndbutton{position: relative;padding-right:50px;}
.info .metadata .titleAndbutton .title{color: var(--black-color);font-size: var(--font-medium);top:10px;font-weight: 600;}
.info .metadata .titleAndbutton .title.clamp{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.info .metadata .titleAndbutton .more{position:absolute;right:10px;top:5px;width:20px;height:20px;transition: 1s ease-in-out;}
.info .metadata .titleAndbutton .more.clicked{transform:rotate(180deg);}
.info .metadata .views span{color:var(--grey-dark-color);font-size:var(--font-small);}



.info .actions{display:flex;justify-content:space-between;border-bottom: 1px solid var(--grey-dark-color);}
.info .actions li {flex:1;text-align:center;}
.info .actions li button{width:calc(100% - 20px);padding:20px 0;background-color: #045fd4;}
.info .actions li span{text-align:center;display:block;}

/*channel */
.channel{position: relative;border-bottom: 1px solid var(--grey-dark-color);}
.channel .metadata {display: flex;justify-content:flex-start;}
.channel .metadata .info{padding-left:10px;}
.channel .metadata .info .subscribers{color:var(--grey-light-color);font-size:var(--font-micro);}
.channel .subscribe{color:var(--grey-light-color);font-size: var(--font-medium);position:absolute;right:20px;top:calc(50% - var(--font-medium));padding:20px 30px}

/*upNext*/
.upNext{padding:var(--side-padding)}
.upNext ul .item{position:relative;display:flex;justify-content:start;}
.upNext ul .item .info{padding:0 30px 0 20px;}
.upNext ul .item .info .title{color:var(--black-color);display: block;}
.upNext ul .item .info .name{color:var(--grey-dark-color);font-size: var(--font-small);}
.upNext ul .item .info .views{color:var(--grey-light-color);font-size: var(--font-micro);}
.upNext ul .item .moreBtn {position:absolute;right:10px;top:10px}

